Inspección Inicial del Archivo

In [1]:
import pandas as pd

# Cargar los datos sin especificar tipos
df = pd.read_csv("../data/OSHA/Data.csv", low_memory=False)

# Verificar el tipo de la columna antes de la conversión
columna_objetivo = df.columns[3]  # Nombre de la columna en la posición 3
print(f"Tipo de dato antes: {df[columna_objetivo].dtype}")

# Eliminar espacios en blanco o caracteres extraños en la columna (si los hay)
df[columna_objetivo] = df[columna_objetivo].astype(str).str.strip()

# Intentar conversión a numérico nuevamente
df[columna_objetivo] = pd.to_numeric(df[columna_objetivo], errors="coerce")

# Verificar el tipo de la columna después de la conversión
print(f"Tipo de dato después: {df[columna_objetivo].dtype}")

# Contar valores NaN
print(f"Cantidad de valores convertidos en NaN: {df[columna_objetivo].isna().sum()}")

Tipo de dato antes: object
Tipo de dato después: float64
Cantidad de valores convertidos en NaN: 36543

In [2]:
# Mostrar valores únicos problemáticos
valores_problematicos = df[df[columna_objetivo].isna()][columna_objetivo]
print(valores_problematicos.unique())  # Ver qué valores están causando problemas

[nan]

Manejo de NaN

In [3]:
# Ver cuántos registros totales tiene el dataset
print(f"Total de filas en el dataset: {df.shape[0]}")

Total de filas en el dataset: 346799

In [4]:
# eliminar filas no afectará el análisis
df.dropna(subset=[columna_objetivo], inplace=True)

In [5]:
# Verificar que ya no hay NaN en la columna
print(f"Cantidad de valores NaN después de la limpieza: {df[columna_objetivo].isna().sum()}")

# Verificar el nuevo tamaño del dataset
print(f"Total de filas después de la limpieza: {df.shape[0]}")

Cantidad de valores NaN después de la limpieza: 0
Total de filas después de la limpieza: 310256

In [8]:
# Inspeccionar las primeras filas
print(df.head())

# Verificar información general
print(df.info())

# Revisar valores nulos
print(df.isnull().sum())

        id                                     company_name  \
0  1752479                     Diamond S Mobile Welding LLC
1  1752480  T&J Industries Development and Contracting, Inc
2  1752481                                 Divine Power LLC
3  1752482                                           Vac2Go
4  1752483                                           Vac2Go

                                establishment_name          ein  \
0                     Diamond S Mobile Welding LLC  870992458.0
1  T&J Industries Development and Contracting, Inc  271904473.0
2                                 Divine Power LLC  820978176.0
3                           Crown Point, IN Branch  800771071.0
4                             Deer Park, TX Branch  800771071.0

        street_address         city state  zip_code  naics_code  \
0  101 W. Hamlin Trail   Frostproof    FL     33843      333992
1    4600 Cleveland Rd     Lithonia    GA     30038      237110
2   4422 Highway 29 S.         Hope    AR     71801      237130
3   601 East 112th Ave  Crown Point    IN     46307      532120
4        1150 Hall Ct.    Deer Park    TX     77536      532120

                                industry_description  ...  \
0                                            Welding  ...
1                                utility contractors  ...
2                                         Power Line  ...
3                      Vacuum Truck Rental & Service  ...
4  Truck, Utility Trailer, and RV (Recreational V...  ...

   total_respiratory_conditions  total_skin_disorders  total_hearing_loss  \
0                             0                     0                   0
1                             0                     0                   0
2                             0                     0                   0
3                             0                     0                   0
4                             0                     0                   0

   total_other_illnesses  establishment_id  establishment_type  size  \
0                      0            905945                 1.0     1
1                      0            812418                 1.0     2
2                      0            913636                 1.0     2
3                      0            914148                 1.0     1
4                      0            914149                 1.0     1

   year_filing_for  created_timestamp  change_reason
0             2022           1/1/2023            NaN
1             2022           1/1/2023            NaN
2             2022           1/1/2023            NaN
3             2022           1/1/2023            NaN
4             2022           1/1/2023            NaN

[5 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 310256 entries, 0 to 346798
Data columns (total 31 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            310256 non-null  int64
 1   company_name                  299886 non-null  object
 2   establishment_name            310255 non-null  object
 3   ein                           310256 non-null  float64
 4   street_address                310255 non-null  object
 5   city                          310255 non-null  object
 6   state                         310256 non-null  object
 7   zip_code                      310256 non-null  int64
 8   naics_code                    310256 non-null  int64
 9   industry_description          287793 non-null  object
 10  annual_average_employees      310256 non-null  int64
 11  total_hours_worked            310255 non-null  float64
 12  no_injuries_illnesses         310256 non-null  int64
 13  total_deaths                  310256 non-null  int64
 14  total_dafw_cases              310256 non-null  int64
 15  total_djtr_cases              310256 non-null  int64
 16  total_other_cases             310256 non-null  int64
 17  total_dafw_days               310256 non-null  int64
 18  total_djtr_days               310256 non-null  int64
 19  total_injuries                310256 non-null  int64
 20  total_poisonings              310256 non-null  int64
 21  total_respiratory_conditions  310256 non-null  int64
 22  total_skin_disorders          310256 non-null  int64
 23  total_hearing_loss            310256 non-null  int64
 24  total_other_illnesses         310256 non-null  int64
 25  establishment_id              310256 non-null  int64
 26  establishment_type            309036 non-null  float64
 27  size                          310256 non-null  int64
 28  year_filing_for               310256 non-null  int64
 29  created_timestamp             310256 non-null  object
 30  change_reason                 9063 non-null    object
dtypes: float64(3), int64(20), object(8)
memory usage: 75.7+ MB
None
id                                   0
company_name                     10370
establishment_name                   1
ein                                  0
street_address                       1
city                                 1
state                                0
zip_code                             0
naics_code                           0
industry_description             22463
annual_average_employees             0
total_hours_worked                   1
no_injuries_illnesses                0
total_deaths                         0
total_dafw_cases                     0
total_djtr_cases                     0
total_other_cases                    0
total_dafw_days                      0
total_djtr_days                      0
total_injuries                       0
total_poisonings                     0
total_respiratory_conditions         0
total_skin_disorders                 0
total_hearing_loss                   0
total_other_illnesses                0
establishment_id                     0
establishment_type                1220
size                                 0
year_filing_for                      0
created_timestamp                    0
change_reason                   301193
dtype: int64

# Exploración de Datos (EDA)

Inspección General

In [10]:

# verificar si hay valores duplicados
print(f"Total de filas duplicadas: {df.duplicated().sum()}")

Total de filas duplicadas: 0

In [ ]:
# Manejo de Valores Faltantes: Columnas con pocos valores faltantes
df.dropna(subset=["establishment_name", "street_address", "city", "total_hours_worked"], inplace=True)

In [12]:
# Columnas con muchos valores NaN
df.drop(columns=["change_reason"], inplace=True)

In [14]:
df["industry_description"] = df["industry_description"].fillna("Unknown")
df["establishment_type"] = df["establishment_type"].fillna(df["establishment_type"].mode()[0])  # Rellenar con el valor más común

In [15]:
# Revisar nuevamente los valores NaN
print(df.isnull().sum())

id                                  0
company_name                    10370
establishment_name                  0
ein                                 0
street_address                      0
city                                0
state                               0
zip_code                            0
naics_code                          0
industry_description                0
annual_average_employees            0
total_hours_worked                  0
no_injuries_illnesses               0
total_deaths                        0
total_dafw_cases                    0
total_djtr_cases                    0
total_other_cases                   0
total_dafw_days                     0
total_djtr_days                     0
total_injuries                      0
total_poisonings                    0
total_respiratory_conditions        0
total_skin_disorders                0
total_hearing_loss                  0
total_other_illnesses               0
establishment_id                    0
establishment_type                  0
size                                0
year_filing_for                     0
created_timestamp                   0
dtype: int64

In [17]:
df["company_name"] = df["company_name"].fillna(df["establishment_name"])

In [18]:
df["company_name"].isna().sum()

0

Estadísticas descriptivas del dataset